.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: Arial, sans-serif;
  }
  
  .th,
  .td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  .th {
    background-color: #f2f2f2;
    font-weight: bold;
    color: #333;
  }
  
  .tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .tr:hover {
    background-color: #f1f1f1;
  }
  
  .errorMessage {
    color: red;
    font-weight: bold;
    margin-top: 20px;
  }
  .modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modalContent {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 80%;
    max-height: 80%;
    overflow-y: auto;
  }
  
  .closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
  }
  
  .detailsButton {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .detailsButton:hover {
    background-color: #45a049;
  }  