.simpleCard {
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  text-align: center;
  transition: transform 0.6s ease, box-shadow 0.6s ease;
  perspective: 1000px; /* Necesario para la animación de giro en 3D */
}

.image {
  width: 100%;
  height: auto; /* Ajustamos la altura de la imagen */
  border-radius: 8px;
  object-fit: cover;
  transition: transform 0.6s ease; /* Transición suave para el giro */
  transform-style: preserve-3d; /* Mantener el estilo 3D */
}

/* Animación de giro continuo */
.simpleCard:hover .image {
  animation: rotateInfinito 2s linear infinite; /* Gira la imagen infinitamente */
}

@keyframes rotateInfinito {
  0% {
    transform: rotateY(0deg); /* Inicia sin rotación */
  }
  100% {
    transform: rotateY(360deg); /* Gira 360 grados */
  }
}

.textContainer {
  margin-top: 1rem;
}

.cardTitle {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 1rem;
}

.btnYellow {
  background-color: #fbb016;
  color: #000;
  padding: 6px 25px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: 600;
  text-transform: capitalize;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 20px;
}

.btnYellow:hover {
  background-color: #e69505;
}

/* Responsivos */
@media (max-width: 768px) {
  .simpleCards {
    flex-direction: column;
    gap: 1rem;
  }

  .simpleCard {
    width: 90%; /* Se ajusta el ancho a pantallas más pequeñas */
  }
}
