/* Contenedor general de las cards */
.cardsWrapper {
  display: flex;
  flex-direction: row;
/*  flex-wrap: wrap;
  gap: 2rem;*/
  justify-content: center;
  padding: 2rem 1rem;
}

/* Estilo principal de cada card */
.simpleCard {
  display: flex;

  justify-content: space-between;
  align-items: center;

  border-radius: 12px;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.12);
  padding: 1rem;
  text-align: center;
  transition: 0.4s ease;
  margin: 10px;
  width: 100%;
  max-width: 600px;
}

/* Contenedor de la moneda */
.coinContainer {
  width: 100%;
  height: 100%;
  perspective: 1000px;
      display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Animación para el giro de la moneda */
.coin {
  width: 42%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  transform-style: preserve-3d;
  animation: rotateInfinito 3s linear infinite;
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 50%;
  overflow: hidden;
}

.front {
  transform: rotateY(0deg);
}

.back {
  transform: rotateY(180deg);
}

.image {
  /*width: 100%;*/
  height: 100%;
  object-fit: cover;

}

/* Imagen que sube a la derecha */
.imageRight {
  position: relative;


}

.imageSlideUp{
  border-radius: 10px;
}


/* Estilo del texto */
.textContainer {
  margin-top: 1.2rem;
  max-width: 400px;
  text-align: center;
}

.cardTitle {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #333;
}

.btnYellow {
  background-color: #fbb016;
  color: #000;
  padding: 8px 28px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 600;
  text-transform: capitalize;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  font-size: 18px;
}

.btnYellow:hover {
  background-color: #e69505;
  transform: scale(1.05);
}

/* Animación de rotación infinita */
@keyframes rotateInfinito {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

/* Responsive: tablets y móviles */
@media (max-width: 768px) {
  .cardsWrapper, .simpleCard{
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }

.coin {
    width: 100%;
    height: 100%;
  }

  .imageRight {
    position: relative;
    top: 0;
    transform: translateY(0);
    margin-top: 1rem;
  }
}

/* Responsive: móviles pequeños */
@media (max-width: 480px) {
  .coin {
    width: 150px;
    height: 150px;
  }

  .btnYellow {
    font-size: 16px;
    padding: 6px 22px;
    margin-bottom: 10px;
  }

  .cardTitle {
    font-size: 18px;
    margin-bottom: 0;
  }

  .textContainer {
    max-width: 100%;
  }

  .cardsWrapper, .simpleCard{
    flex-direction: column;
    margin: 0 auto;
  }

}
