.simpleCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 8px;
  padding: 20px;
  width: 50%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  justify-content: center;
}

.simpleCard:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.image {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
  z-index: 2;
}

.textContainer {
  text-align: center;
  margin-left: -20px;
}

.text {
  font-size: 16px;
  color: #fff;
  margin-bottom: 10px;
  background-color: #000;
  border-radius: 10px;
  padding: 15px 5px 15px 35px;
  width: 20rem;
}

.link {
  font-size: 14px;
  color: #000000;
  text-decoration: none;
  background-color: #FBB016;
  width: 288px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 5px;
  display: inline-block;
  text-align: center;
}

.link:hover {
  font-weight: 600;
}

/* Estilos Responsivos */

/* Pantallas más pequeñas */
@media (max-width: 1024px) {
  .simpleCard {
    width: 70%; /* Ancho más pequeño en pantallas medianas */
    flex-direction: column; /* Cambiar la dirección a columna */
    padding: 15px;
  }

  .image {
    width: 200px;
    height: 200px;
  }

  .textContainer {
    margin-left: 0;
    margin-top: 10px;
  }

  .text {
    font-size: 14px; /* Reduce el tamaño del texto */
    width: auto; /* El ancho se adapta al contenido */
    padding: 10px 5px;
  }

  .link {
    width: 100%; /* Hace que el enlace ocupe el 100% del ancho */
    text-align: center;
    padding: 10px 0;
  }
}

/* Pantallas más pequeñas, móviles */
@media (max-width: 600px) {
  .simpleCard {
    width: 90%; /* En pantallas móviles, el ancho se hace más pequeño */
    padding: 10px;
  }

  .image {
    width: 150px;
    height: 150px; /* Hacemos la imagen más pequeña */
  }

  .text {
    font-size: 12px; /* Reducción adicional del tamaño del texto */
    padding: 8px 5px;
    width: auto;
  }

  .link {
    font-size: 12px; /* Hacemos más pequeño el tamaño de la fuente */
    padding: 8px;
  }
}
