/* Contenedor principal */
.container {
  max-width: 1400px;
  padding: 20px; /* Espaciado interno */
  margin: 0 auto;
}

/* Estilo para el título de la página */
.title {
  font-size: 30px; /* Tamaño de fuente grande */
  font-weight: 700; /* Negrita */
  color: #fff; /* Color del texto */
}
.texto {
  color: #fff; /* Color del texto */
}
.subtitle {
  font-size: 35px; /* Tamaño de fuente grande */
  font-weight: 700; /* Negrita */
  color: #333; /* Color del texto */
  margin-bottom: 20px; /* Margen inferior */
}
/* Estilo para las secciones */
.subcontainer {
  background-color: #292a2b;
  padding: 1rem;
}

/* Efecto de hover para las secciones */
