/* Contenedor principal con bordes suaves */
.accordionContainer {
  border-bottom: 1px solid #252525;
  margin-bottom: 16px;
  padding: 12px 0;
}

/* Título con un efecto de transición suave */
.accordionTitle {
  font-size: 1.4rem;
  font-weight: 500;
  color: #333;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: color 0.3s ease, transform 0.3s ease;
}

.iconPdf {
  font-size: 1.2rem;
  color: #007bff;
  margin-left: 10px;
  position: relative;
  top:2px;
  cursor: pointer;
  transition: transform 0.3s ease;
}
/* Efecto cuando el título es hover */
.accordionTitle:hover {
  color: #007bff;
  transform: translateX(5px);
}

/* Animación del ícono de flecha */
.accordionTitle::after {
  content: "▸"; /* Flecha hacia la derecha por defecto */
  transition: transform 0.3s ease;
}

/* Cuando el acordeón está abierto, la flecha apunta hacia abajo */
.accordionTitle.open::after {
  transform: rotate(
    90deg
  ); /* Rotar la flecha 90 grados para que apunte hacia abajo */
}

/* Contenido del acordeón con transición suave */
.accordionContent {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.4s ease, opacity 0.4s ease;
}

/* Cuando el acordeón está abierto, mostrar el contenido */
.accordionContent.open {
  max-height: 400px; /* Ajustar según el contenido */
  opacity: 1;
  width: 95%;
  margin: 0 auto;
}

/* Descripción minimalista */
.accordionDescription {
  font-size: 1rem;
  color: #666;
  margin: 10px 0;
  line-height: 1.5;
}

/* Lista de módulos con un diseño limpio */
.moduleList {
  list-style-type: none;
  padding: 0;
  margin: 0;

}

.moduleItem {
  margin-bottom: 8px;
  font-size: 1.1rem;
  color: #444;
  transition: color 0.2s ease;
}

.moduleItem:hover {
  color: #007bff;
}

/* Botón estilizado minimalista */
.viewButton {
  background-color: transparent;
  margin-right: 10px;
  margin-left: 10px;
  color: #007bff;
  cursor: pointer;
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1), 
  box-shadow 0.4s ease;
  font-size: 0.9rem;

}

.viewButton:hover {
  transform: scale(1.20);
}
.iconPdf:hover {
  transform: scale(1.20);
}

/* Estilos para módulos completados */
.moduleItem.completed {
  color: #4caf50;
  font-weight: bold;
}

.licontainer{
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
}
.imgcontainer{
  width: 40px;
  height:40px;
  margin: 0 auto;
}