/* Contenedor principal con bordes suaves */
.accordionContainer {
  border-bottom: 1px solid #252525;

  margin-bottom: 16px;
  padding: 12px 0;
}

/* Título con un efecto de transición suave */
.accordionTitle {
  font-size: 1.4rem;
  font-weight: 500;
  color: #333;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: color 0.3s ease, transform 0.3s ease;
}

.accordionTitle:hover {
  color: #007bff;
  transform: translateX(5px);
}

/* Animación del ícono de flecha */
.accordionTitle::after {
  content: "▸";
  transition: transform 0.3s ease;
}

.accordionTitle.open::after {
  transform: rotate(90deg);
}

/* Contenido del acordeón con transición suave */
.accordionContent {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.4s ease, opacity 0.4s ease;
}

.accordionContent.open {
  max-height: 400px; /* Ajustar según el contenido */
  opacity: 1;
  width: 95%;
  margin: 0 auto;
}

/* Descripción minimalista */
.accordionDescription {
  font-size: 1rem;
  color: #666;
  margin: 10px 0;
  line-height: 1.5;
}

/* Lista de módulos con un diseño limpio */
.moduleList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.moduleItem {
  margin-bottom: 8px;
  font-size: 1.1rem;
  color: #444;
  transition: color 0.2s ease;
}

.moduleItem:hover {
  color: #007bff;
}

/* Botón estilizado minimalista */
.viewButton {
  background-color: transparent;
  color: #007bff;
  border: 1px solid #007bff;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 0.9rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.viewButton:hover {
  background-color: #007bff;
  color: white;
}
