.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal {
    position: relative;
    text-align: center;
  }
  
  .closeButton, .prevButton, .nextButton {
    position: absolute;
    background: transparent;
    border: none;
    font-size: 24px;
    color: #fbc843;
    cursor: pointer;
    filter: drop-shadow(1px 1px 1px black);
  }
  
  .closeButton {
    top: 10px;
    right: 10px;
  }
  
  .prevButton {
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
  }
  
  .nextButton {
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }
  