.container {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 1.5rem;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
  transition: box-shadow 0.3s ease;
}

.container:hover {
  box-shadow: 0 12px 32px rgba(0, 0, 0, 0.12);
}

.parrafos {
  font-size: 18px;
}

.title {
  font-size: 2.25rem;
  font-weight: 700;
  color: #1f2937;
  margin-bottom: 3rem;
  text-align: center;
}

.subtitle {
  font-size: 1.8rem;
  font-weight: 700;
  font-style: italic;
  color: #fbb015;
  margin-bottom: 1rem;
}

.description,
.recommendations {
  font-size: 0.9rem;
  font-style: italic;
  color: #4b5563;
  line-height: 1.6;
  margin-bottom: 1.5rem;
}

.link {
  display: inline-block;
  background: #fbbf24;
  color: #000;
  font-weight: 600;
  border: none;
  border-radius: 1rem;
  padding: 0.75rem 1rem;
  margin-top: 1rem;
  width: 200px; /* 👈 Fijamos el ancho para evitar que cambie */
  text-align: center;
  text-decoration: none;
  transition: transform 0.3s ease-in-out;
  animation: breathing 1s ease-in-out infinite;
}


@keyframes breathing {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.link:hover {
  transform: translateY(-2px);
}

.link:active {
  transform: translateY(0);
}

/* Imagen fija, sin deformarse */
.firstData {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .firstData {
    flex-direction: row;
    align-items: flex-start; /* Alineamos todo arriba */
  }
}

  @media (max-width: 768px) {

    .title {
      font-size: 1.7rem; /* Reducimos el tamaño del título en pantallas pequeñas */
    }
  
    .subtitle {
      font-size: 1.5rem;
    }
  
    .text {
      font-size: 1rem;
      
    }
  
  }

.data {
  width: 100%;
  max-width: 392px;
  flex-shrink: 0;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  background-color: #3c3c3c;
  padding: 1rem;

  /* 👇 Agregamos esto */
  text-align: center;
}


.image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 1rem;
}

.secondData {
  background-color: #f3f4f6;
  padding: 1.5rem;
  border-radius: 1.25rem;
  margin-top: 2rem;
}

.errorMessage {
  color: #dc2626;
  background: #fee2e2;
  padding: 1rem;
  border-radius: 0.75rem;
  margin-top: 1rem;
}

.back {
  display: inline-block;
  background: none;
  color: #fbbf24;
  font-weight: 500;
  border-radius: 0.75rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  margin-bottom: 1rem;
  font-size: 1rem;
  transition: color 0.3s ease, transform 0.3s ease;
}

.back:hover {
  color: #d99a00;
  transform: scale(1.05);
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  font-size: 1.25rem;
  font-weight: 500;
  color: #6b7280;
}

