.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.formTitle {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #333;
}

.formGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.formGroup {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 5px;
  color: #000000;
}

.input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #f9f9f9;
  transition: border 0.3s ease;
}

.input:focus {
  border-color: #007bff;
  outline: none;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.submitButton {
  padding: 12px 24px;
  background: #28a745;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
  transition: background 0.3s ease;
}

.submitButton:hover {
  background-color: #000;
}
.dashboardContainer {
  display: flex;
  gap: 20px;
  max-width: 1000px;
  margin: 20px auto;
}

/* Columna izquierda */
.leftColumn {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.infoContainer {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.welcomeSection {
  display: flex;
  align-items: center;
  gap: 20px;
}

.welcomeText {
  flex: 1;
}

.welcomeText h2,
.welcomeText h3 {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.welcomeText p {
  font-size: 16px;
 /*margin-bottom: 10px;*/
  color: #555;
}

.membershipCard{
position: relative;
}

.membershipCard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.cardName {
  position: absolute;
  top: 40%;
  right: 20px;
  font-size: 27px;
  font-weight: bold;
  color: #000000;
 }

.academiabanner {
  background: #343a40;
  color: white;
  text-align: center;
  padding: 10px;
  font-weight: 500;
  font-size: 25px;
  border-radius: 5px;
}

/* Columna derecha */
.rightColumn {
  width: 60%;
}

/* Cargando */
.loading {
  text-align: center;
  font-size: 18px;
  color: #555;
  margin-top: 20px;
}

.welcomeText {
  margin: 0;
  font-size: 20px !important;
}
/* Agregar espaciado entre los iconos y los textos */
.espacio {
  display: flex;
  align-items: center;
  gap: 10px; /* Espaciado entre el icono y el texto */
  margin-bottom: 10px;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 2rem;
  font-weight: bold;
}

.texto{
  font-size: 20px !important;
}