/* TitleText.module.css */

/* Contenedor principal */
.container {
  max-width: 1500px; /* Limita el ancho del contenedor */
  margin: 0 auto; /* Centra horizontalmente */
  padding: 20px; /* Espaciado interno */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; /* Alineación centrada */
}

/* Estilos para el título */
.Title {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 10px;
}

/* Estilos para el subtítulo o descripción */
.Subtitle {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
}

/* Imagen */
.img {
  width: 80%;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil para la imagen */
}