.carouselContainer {
  width: 100%;
  max-height: 400px; /* Ajusta según el tamaño de tus banners */
}

.slide {
  position: relative;
}

.bannerImage {
  width: 100%;
  height: auto;
  display: block;
}

/* Estilos para el contenido */
.slide-content {
  font-size: 16px;
  /* Tamaño de fuente para el contenido */
}