/* bannerSlider.css (o el nombre que prefieras) */
/* Estilos para el contenedor del Slider */
/* Estilos para los slides */

.slick-slide {
    text-align: center;
    /* Centrar texto en los slides */
    color: #f59e2d;
    /* Color de texto oscuro para los slides */
    background-color: #f8f9fa;
    /* Color de fondo para los slides */
    border-radius: 5px;
    /* Borde redondeado para los slides */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Sombra ligera para los slides */

}

/* Estilos para los puntos de navegación (dots) */
.slick-dots {
    position: absolute;
    bottom: 20px;
    list-style: none;
    text-align: center;
    padding: 0;
    width: 100%;
}

/* Estilo para cada punto de navegación */
.slick-dots li {
    display: inline-block;
    margin: 0 5px;
}

/* Estilo para los puntos de navegación activos */
.slick-dots li button {
    font-size: 12px;
    line-height: 1;
    color: rgba(0, 0, 0, 0);
    /* Color de texto blanco para los puntos */

    border-radius: 50%;
    /* Borde redondeado para los puntos */
    width: 20px;
    /* Ancho de los puntos */
    height: 20px;
    /* Alto de los puntos */
    opacity: 0.5;
    cursor: pointer;
}

.slick-dots li.slick-active button {
    opacity: 1;
}

/* Estilos para el título */
.slide-title {
    font-size: 24px;
    /* Tamaño de fuente grande para el título */
    margin-bottom: 10px;
    /* Margen inferior */
}

/* Estilos para el contenido */
.slide-content {
    font-size: 16px;
    /* Tamaño de fuente para el contenido */
}

.slick-prev {
    left: 10px;
}

.slick-next {
    right: 25px;
}

.slick-prev,
.slick-next {
    z-index: 1;
    color: rgba(0, 0, 0, 0);
    background: rgba(0, 0, 0, 0);
}

.slick-prev:before,
.slick-next:before {
    color: #fb920a;
    font-size: 35px;
}



.slick-dots li.slick-active button:before {
    opacity: 1;
    color: #fb920a;
}

.slick-dots li button:before {
    font-size: 12px;
    line-height: 40px;
    opacity: 0.40;
    color: black;
}

.my-custom-image {
    width: 100%;
    height: auto;
}


.image-desktop,
.image-tablet,
.image-mobile {
    display: none;
}

@media (min-width: 1024px) {
    .image-desktop {
        display: block;
    }

}

@media (max-width: 1023px) {
    .image-tablet {
        display: block;
    }

    .image-desktop,
    .image-mobile {
        display: none;
    }
}

/* Media query for mobile */
@media (max-width: 767px) {
    .image-mobile {
        display: block;
    }

    .image-desktop,
    .image-tablet {
        display: none;
    }
}