/* src/components/CustomCard.module.css */
.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.title {
    font-size: 16px;
    padding: 0.6rem;
}

.image {
    width: 100%;
    height: auto;
}

.footer {
    background-color: #FBB016;
    border-radius: 0 0 8px 8px;
    padding: 0.4rem;
}

.link {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    transition: color 0.3s ease;
}

.link:hover {
    color: #fff;
}