.popupOverlay{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6); /* Fondo oscuro más elegante */
  padding: 20px; /* Espacio interior para respirar en móviles */
  z-index: 1000;
  backdrop-filter: blur(4px); /* Efecto desenfoque para modernizar */
}

.popupContent{
    background-color: white;
    border-radius: 16px;
    padding: 20px;
    width: 100%;
    max-width: 1000px;
    height: 80%;
    
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.popupContent h2{
    margin: 0 0 20px;
    font-size: 24px;
    color: #333;
}

/* Estilo para el botón de cerrar */
.closeButton {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 35px;
  height: 35px;
  background-color: rgba(255, 0, 0, 0.494) ;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  z-index: 1;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.closeButton:hover {
  background: rgba(0, 0, 0, 0.15);
  color: #222;
}

.closeButton:active {
  background: rgba(0, 0, 0, 0.25);
}


/* Animación para hacer aparecer el popup */
@keyframes popupContentIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
