@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
body {
  font-family: 'Roboto Condensed', sans-serif; /* Asegúrate de aplicar tu fuente aquí */
  overflow-x: hidden;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

abbr:where([title]) {
  /* text-decoration: underline dotted; */
  text-decoration: none;
}

main{
  /*max-width: 1500px ;*/
  margin: 0 auto;
}


.simpleCards{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}