@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

  @font-face {
    font-family: 'Proxima Nova';
    src: url("/fonts/proximanova_regular.ttf") format("truetype"),
    url("/fonts/proximanova_light.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }
  


html, body {
  font-family: "Proxima Nova", sans-serif;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction:column;


}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

abbr:where([title]) {
  /* text-decoration: underline dotted; */
  text-decoration: none;
}


.mainContent {
  flex: 1;
  background-color:#f9f9f9;
}

.simpleCards{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 3rem ;
  padding-bottom: 3.5rem ;
}

.sinlinea{
  font-size: 30px; /* Un tamaño de fuente más moderno y apropiado */
  font-weight: 600;
  margin-bottom: 1.2rem;
  color: #444; /* Un tono más suave que el del título */
 /* letter-spacing: 1px;*/
  line-height: 1.4;

}