/* BannerSlider.module.css */

.slider {
    position: relative;
    width: 100%;
    height: 250px; /* Ajusta según tus necesidades */
    overflow: hidden;
  }
  
  .slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    height: 100%;
  }
  
  .slide {
    min-width: 100%;
    height: 100%;
    position: relative;
  }
  
  .image {
    width: 100%;
    height: 100%;
  }
  
  .prevButton,
  .nextButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  
    color: #fbb016;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    z-index: 10;
  }
  
  .prevButton {
    left: 10px;
  }
  
  .nextButton {
    right: 10px;
  }
  
  .dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
  
  .dot {
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    border: 1px solid #8d8d8d;
  }
  
  .activeDot {
    background-color: #fbb016;
  }
  