/* BannerSlider.module.css */

.slider {
  position: relative;
  width: 100%;
  height: 400px; /* Ajusta según tus necesidades */
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease-in-out;
}

.slider:hover {
  box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.3);
}

.slides {
  display: flex;
  transition: transform 0.8s ease-in-out;
  width: 100%;
  height: 100%;
}

.slide {
  min-width: 100%;
  height: 100%;
  position: relative;
  border-radius: 15px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

/* Botones de Navegación */
.prevButton,
.nextButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.6); 
  border: none;
  cursor: pointer;
  padding: 0.8rem; /* Reducimos el padding */
  z-index: 10;
  font-size: 2rem;
  border-radius: 50%; /* Aseguramos que sea circular */
  width: 50px; /* Fijo el tamaño de los botones */
  height: 50px; /* Aseguramos que el alto y el ancho sean iguales para un círculo perfecto */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.prevButton:hover,
.nextButton:hover {
  background-color: rgba(0, 0, 0, 0.9);
/*  transform: scale(1.1);*/ /* Efecto de expansión suave */
}

.prevButton {
  left: 15px;
}

.nextButton {
  right: 15px;
}

/* Estilos para los puntos de navegación */
.dots {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 15px;
}

.dot {
  width: 12px;
  height: 12px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.6);
  transition: all 0.3s ease;
}

.dot:hover {
  background-color: rgba(255, 255, 255, 0.9);
  transform: scale(1.3);
}

.activeDot {
  background-color: #fbb016;
  transform: scale(1.4);
}

/* Estilos Responsivos */

/* Tablet y pantallas medianas */
@media (max-width: 768px) {
  .slider {
    height: 250px; /* Ajustamos la altura para pantallas más pequeñas */
  }

  .prevButton,
  .nextButton {
    font-size: 2rem;
    padding: 0.6rem; /* Reducimos un poco el padding */
    width: 40px;
    height: 40px; /* Botones más pequeños */
  }

  .dot {
    width: 10px;
    height: 10px;
  }

  .dots {
    bottom: 10px;
  }
}

/* Móviles */
@media (max-width: 480px) {
  .slider {
    height: 200px; /* Ajustamos la altura para móviles */
  }

  .prevButton,
  .nextButton {
    font-size: 1.8rem;
    padding: 0.5rem;
    width: 35px;
    height: 35px; /* Botones aún más pequeños */
  }

  .dot {
    width: 8px;
    height: 8px;
  }

  .dots {
    bottom: 5px;
  }
}
