/* Overlay para cubrir toda la pantalla */
.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #3333338f;
  z-index: 1000;
}

/* Estilo para el contenido del popup */
.popup {
  background-color: #fff; /* Fondo blanco para el popup */
  border-radius: 8px; /* Bordes redondeados */
  padding: 20px; /* Espaciado interno */
  width: 70%; /* Ancho responsive */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra sutil */
  position: relative; /* Posicionamiento relativo para el botón de cerrar */
}
.title {
  font-size: 24px; /* Tamaño adecuado para encabezado */
  font-weight: bold; /* Hace que el texto resalte */
  color: #333; /* Un gris oscuro elegante */
  text-transform: capitalize; /* Primera letra en mayúscula */
  text-align: left; /* Alineado a la izquierda */
  margin-bottom: 15px; /* Espacio con otros elementos */
  letter-spacing: 0.5px; /* Mejor separación entre letras */
  position: relative; /* Para agregar decoraciones si es necesario */
}

/* Línea decorativa debajo del título */
.title::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background: #007bff; /* Azul moderno */
  margin-top: 5px;
  border-radius: 5px; /* Bordes suaves */
}

/* Efecto hover para hacerlo más interactivo */
.title:hover {
  color: #0056b3; /* Azul más oscuro */
  transition: color 0.3s ease-in-out;
}
/* Estilo para el botón de cerrar */
.closeButton {
  position: absolute; /* Posiciona el botón en la esquina superior derecha */
  top: 10px;
  right: 10px;
  width: 35px;
  height: 35px;
  background: rgba(0, 0, 0, 0.1); /* Fondo semitransparente */
  border: none;
  border-radius: 50%; /* Hace el botón redondo */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px; /* Tamaño del ícono */
  color: #333; /* Color del icono */
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  z-index: 1; /* Para que esté por encima del contenido */
}

/* Cambia el color al pasar el mouse */
.closeButton:hover {
  background: rgba(0, 0, 0, 0.2); /* Fondo más oscuro */
  color: #000; /* Ícono más visible */
}

/* Efecto al presionar */
.closeButton:active {
  background: rgba(0, 0, 0, 0.3);
}

/* Sombra para que resalte */
.closeButton {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.videoContainer {
  position: relative;
  padding-bottom: 56.25%; /* Relación de aspecto 16:9 */
  height: 0;
  overflow: hidden;
  border-radius: 8px;
  margin: 20px;
}

.videoContainer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
