.carouselContainer {
  width: 50%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

}

.carouselTrack {
  display: flex;
  transition: transform 0.5s ease-in-out;
  gap: 5px; /* Reducido el espacio entre tarjetas */
}

.carouselSlide {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% / 2 - 5px); /* Ajuste para respetar el gap */
}

.bannerItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4d18a; /* Amarillo */
  border-radius: 20px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  padding: 25px;
  text-align: center;
}

.bannerContent {
  margin-bottom: 15px;
}

.bannerTitle {
  font-size: 25px; /* Aumentado el tamaño */
  font-weight: bold;
}

.bannerText {
  font-size: 20px; /* Aumentado el tamaño */
  padding-bottom: 10px;
}

.bannerLink {
  display: inline-block;
  background-color: #fbb016; /* Botón negro para contraste */
  color: #000;
  padding: 6px 25px;
  border: none;
  border-radius: 25px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.bannerLink:hover {
  background-color: #e69e13;
}

.bannerImage {
  border-radius: 15px;
}

/* Botones */
.prevBtn,
.nextBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.prevBtn {
  left: 10px;
}

.nextBtn {
  right: 10px;
}

.prevBtn:hover,
.nextBtn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Responsivo */
@media (max-width: 768px) {
  .carouselContainer {
    width: 95%;
  }

  .carouselSlide {
    width: calc(100% / 1 - 5px); /* En móvil, solo muestra 1 card a la vez */
  }

  .bannerTitle {
    font-size: 20px;
  }

  .bannerText {
    font-size: 16px;
  }

  .bannerLink {
    font-size: 18px;
    padding: 10px 20px;
  }
}
