.link {
  background-color: #FBB016;
  color: #000;
  padding: 6px 25px;
  border-radius: 16px;
  text-decoration: none;
  font-weight: 600;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 20px;

}

.link:hover {
  background-color: #e69505;
 
}


.posicion{
  margin: 0 auto;
}